  body {
    font-family: "verdana";
    background: white;
    color: black;
    text-align: left;
    font-size: small;
  }
  header{
    text-align: center;
    padding: 5%;
  }
  
  h1 {
    font-size: xx-large;
    background: pink;
    font-weight: bolder;
    color: black;
    margin-top: 3%;
    padding: 5%;
  }
  h2{
    font-size: larger;
    font-weight: bolder;
    background: pink;
    padding: 3%;
  }

  header img { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
    }
   
  #smile {
    display: block;
    max-width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    border-color:#b8dee6;
    border-width: 20px;
    border-style: inset;
    }
 
  p {
    text-align: center;
    max-width: 80%;
    margin: 100px;
  }

.navigation  {
    background-color: #b8dee6;
    list-style: none;
    padding: 3%;
    font-display: block;
    font-size: medium;
    font-weight: bolder;
    line-height: 2;
    text-align: center;
  } 

  ul {
    list-style-type: none;
  }
  
.gallerypic{
  display: block;
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
  border-color:#b8dee6;
  border-width: 8px;
  border-style: inset;
}

.bookcover{
  display: block;
  max-width: 20%;
  margin-left: auto;
  margin-right: auto;
  border-width: 8px;
  border-style: inset;
  border-color:#b8dee6;
}

@media (max-width: 700px) {
  h1 {
    text-align: center;
    background: white;
    color: pink;
  }
  h2{
    color: pink;
    background:white;
    text-align: center;
  }
  .navigation{
    color: #b8dee6;
    background-color: white;
  }
}
